
<div class="row-fluid">
  <div class="span12 center">
    <h1 class="titles">Welcome</h1>
  </div>
  <div class="span12 center">
     <%= image_tag("/assets/polaroid.png") %>
  </div>
  <div class="span12 center">
    <h2 class="titles">How much do you want to grow?</h2>
    <form>
      <input type="text" placeholder="$ 0.00" class="money">
    </form>
  </div>
</div>

