/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-image: url(/assets/vellum-plain-background-repeating.jpg);
    background-repeat: repeat;

}

.center {
    text-align: center;
}

.titles {
    color: #944208;
}

.tree {
    background-image: url(/assets/tree.jpg);
    width: 450px;
    height: 450px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-color: #bf4400;
    border-style: solid;

}

.money {
    width: 125px;
    height: 45px !important;
    font-size: 23px !important;
    text-align: center;
}

