/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-color: #2d7464;
    background-image: url('/assets/bg_shader.png'), url('/assets/outer_bg.jpg');
    background-repeat: repeat-x, repeat;
}

.row-fluid {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('/assets/inner_bg.png');
    background-repeat: repeat;
    width: 95%;
    box-shadow: 0px 0px 20px #000000;
    margin-top: 2%;
    margin-left: 2%;
}

.next-button {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.center {
    align: center;
}

.copy {
    text-align: left;
    margin-top: 10%;
}

.content-inner {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.instructions {
    display: block;
    text-align: left;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.titles {
    color: #944208;
}

.money {
    width: 125px;
    height: 45px !important;
    font-size: 23px !important;
    text-align: center;
}

.fine-print {
    font-size: 10px;
}

.carousel {
    margin-top: 10%;
    height: 300px;
}

.carousel-inner {
    background-image: url('/assets/modal_background.png');
    background-color: #fff;
    border-style: solid;
    border-color: rgba(153, 43, 28, .6);
    border-width: 8px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000000;
}

.ui-helper-hidden-accessible{ display:none}
