/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-color: #2d7464;
    background-image: url('/assets/bg_shader.png'), url('/assets/outer_bg.jpg');
    background-repeat: repeat-x, repeat;
}

p {
    margin-bottom: 25px !important;
}

h1 {
    font-size: 25pt;
}

.title-setup {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #666666;
}

.complimenti-title {
    font-family: 'Londrina Shadow', cursive;
    text-transform: uppercase;
    font-style: italic;
}

.row-fluid {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('/assets/inner_bg.png');
    background-repeat: repeat;
    width: 95%;
    box-shadow: 0px 0px 20px #000000;
    margin-top: 2%;
    margin-left: 2%;
}

.next-button {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.back-button {
    float: left;
}

.bubble {
    position: absolute;
}
.bubble-1 {
    top: 21%;
    left: 36%;
    display: none;
}
.bubble-2 {
    top: 45%;
    left: 40%;
    display: none;
}
.bubble-3 {
    top: 31%;
    left: 21%;
    display: none;
}
.center {
    align: center;
}

.copy {
    text-align: left;
    margin-top: 10%;
}

.content-inner {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 18pt;
}

.instructions {
    display: block;
    text-align: left;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.titles {
    color: #944208;
}

.money {
    width: 125px;
    height: 45px !important;
    font-size: 23px !important;
    text-align: center;
}

.fine-print {
    font-size: 13px;
    display: block;
    /*background-image: url('/assets/modal_background.png');*/
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.carousel {
    margin-top: 10%;
    height: 300px;
}

.carousel-inner {
    background-image: url('/assets/modal_background.png');
    background-color: #fff;
    border-style: solid;
    border-width: 8px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000000;
    min-height: 75%;
}

.red-border {
    border-color: rgba(153, 43, 28, .6);
}

.green-border {
    border-color: rgba(10, 90, 65, .5)
}

.ui-helper-hidden-accessible{ display:none}
